# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtualenv

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py

# pyenv
.python-version

# Dataset ignore

Dataset/*
!Dataset/.keep
Image_Selector/src/dataset/*
!Image_Selector/src/dataset/.keep

*.json

WebApp/Loggy.sublime-project
WebApp/Loggy.sublime-workspace
WebApp/Loggy/media/database/*
!WebApp/Loggy/media/database/.keep

!WebApp/Loggy/static/dist

ImageRecognition/COCO/detectron2/*
ImageRecognition/COCO/weights/model_final_68b088.pkl
ImageRecognition/COCO/concepts_data/*
!ImageRecognition/COCO/concepts_data/.keep

ImageRecognition/ImageNet/classification_data/*
!ImageRecognition/ImageNet/classification_data/.keep
ImageRecognition/ImageNet/ResNeXt_101_32x48d.pth

ImageRecognition/places365/places365/*
ImageRecognition/places365/places365_data/*
!ImageRecognition/places365/places365_data/.keep

