.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.links {
  text-align: center;
}

.thumbnail {
    border:1px black solid;
    width:180px;
    display:inline-block;
    background-color:white;
    height:300px;
  }

.caption {
    position:relative; 
    height:calc(100% - 150px);
    text-align:center;
  }
.caption .btn{
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left: -45px;
  }