{% extends "base.html" %}

{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'gallery/css/blueimp-gallery.min.css' %}" />

<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}" />

<link href="{% static 'retrieval/select2/css/select2.min.css' %}" rel="stylesheet" />

{% endblock %}



{% block content %}


<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Ground Truth</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Loggy</a></li>
              <li class="breadcrumb-item"><a href="#">LMRT</a></li>
              <li class="breadcrumb-item active">Ground Truth</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="card-title">  
                  <form method="POST"> {% csrf_token %}
                    <select class="form-control select2" id="select2">
                      <option></option>
                      {% for top in topics %}
                        <option value={{ top.id }}>{{top.title}}</option>
                      {% endfor %}
                   </select>

                  </form>
                    
                </div>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Images</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">List</a>
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body row">
            
                  <div id="showtopics" >
                  </div>

                  <div class="tab-content p-0">
                  <div class="tab-pane active" id="revenue-chart"
                       style="position: relative;">
                      <div id='links' class='links'>
                  </div>                     
                   </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative;">
                  <div id="showimagelist">
                  </div>                    
                  </div>  
                 </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
        </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->

    <!-- The Gallery as lightbox dialog, should be a document body child element -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <ol class="indicator"></ol>
  </div>

{% endblock %}

{% block javascripts %}

<script src="{% static 'gallery/js/blueimp-gallery.min.js' %}"></script>

<script src="{% static 'retrieval/select2/js/select2.min.js' %}"></script>

  <script>
      document.getElementById('links').onclick = function(event) {
        event = event || window.event
        var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = { index: link, event: event },
          links = this.getElementsByTagName('a')
        blueimp.Gallery(links, options)
      }
  </script>

  <script>

    $(document).ready(function() {
      $('#select2').select2({
        placeholder: "Select Topic",
        theme: "classic",
      });

      $('#select2').on('select2:select', function (e) {
        var data = e.params.data.text;
        $.ajax({
                type: 'POST',
                url: ".",
                cache: false,
                data: {data, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()},
                success: function (data) {
                  //alert("Success");

                  $('#select2').val('').trigger('change');
                  
                  var topics_html = "<p class='font-weight-bolder'>" + data['title'] + "</p>"
                                  +  "<p class='font-weight-normal'>" + data['description'] + "</p>"
                                  +  "<p class='font-weight-lighter'>" + data['narrative'] + "</p>";

                  $('#showtopics').html(topics_html);

                  images = data['queryset']

                  //console.log(images)
                  var gallery_html = ""

                  for(var key in images)
                  {
                    gallery_html += "<a href='" + images[key] + "' title='" + key + "'>"
                    gallery_html += "<img src='" + images[key] + "' alt='" + key + "' id='imgGallery'/> </a>"
                  }
                    //console.log(images[key])
                  $('#links').html(gallery_html);

                  var list_html = "<table class='table'><tbody>";

                  for(var key in images)
                  {
                    list_html += "<tr><td><a href='" + images[key] + "' title='" + key + "'>"
                                  + "<img style='max-width:80px; max-height:80px;' src='" + images[key] + "'></a></td>"
                                  + "<td><a href='" + images[key] + "' title='" + key + "' >" + key + "</a></td>"
                                  +  "<td><span class='size'>100%</span></td></tr>" ;          
                  }

                  list_html += "</tbody></table> ";
                    
                  $('#showimagelist').html(list_html);
                  
                }
              });
      });
    });
  </script>
  


{% endblock %}