{% extends "base.html" %}

{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'gallery/css/blueimp-gallery.min.css' %}" />

<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'retrieval/DataTables/datatables.min.css' %}"/>

<link rel="stylesheet" href="{% static 'retrieval/css/table.css' %}" />

<link rel="stylesheet" href="{% static 'retrieval/css/retrieval.css' %}" />

<link href="{% static 'retrieval/select2/css/select2.min.css' %}" rel="stylesheet" />

{% endblock %}



{% block content %}


<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Lifelog Moment Retrieval Task Development</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Loggy</a></li>
              <li class="breadcrumb-item active">LMRT Dev</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <form method="POST" id="submit-tags"> {% csrf_token %}
        <div class="row">
          <div class="col">

            <div class="card card-info">
              <div class="card-header">
                <div class="card-title">
                  <label> TOPIC - </label>
                  <select class="form-control select2" id="select2" >
                      <option></option>
                      {% for top in topics %}
                        <option value='{ "id": "{{ top.id }}", "title": "{{ top.title }}", "desc": "{{ top.description }}", "nar": "{{ top.narrative }}" }' >{{top.title}}</option>
                      {% endfor %}
                   </select>
                 </div>
              </div>
              <div class="card-body">
                <div id="showtopic">
                 
                </div>
                <div class="row">
                  <div class="col-3">
                    <div class="form-group row">
                      <input type="form-control" name="object-tag" id="object-tag" placeholder="object" style="vertical-align: bottom">
                      <button type="button" class="btn btn-success btn-circle btn-circle-sm" id="add_object"><i class="fas fa-plus"></i></button>
                    </div>
                    
                    <div id="objects">

                    </div>

                  </div>

                  <div class="col-3">
                    <div class="form-group row">
                      <input type="form-control" name="act-tag" id="act-tag" placeholder="activity" style="vertical-align: bottom">
                      <button type="button" class="btn btn-success btn-circle btn-circle-sm" id="add_act"><i class="fas fa-plus"></i></button>
                    </div>
                    
                    <div id="act">

                    </div>

                  </div>

                  <div class="col-3">
                    <div class="form-group row">
                      <input type="form-control" name="loc-tag" id="loc-tag" placeholder="location" style="vertical-align: bottom">
                      <button type="button" class="btn btn-success btn-circle btn-circle-sm" id="add_loc"><i class="fas fa-plus"></i></button>
                    </div>
                    
                    <div id="loc">

                    </div>

                  </div>
                </div>
              
              </div>
            </div>
          </div>
        
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="card-body">
            
              <button type="reset" class="btn btn-block bg-gradient-primary btn-lg" id="reset-button">Refresh</button>
              <button type="submit" class="btn btn-block bg-gradient-success btn-lg">Submit</button>
           
          </div>
        </div>
         </form>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-th mr-1"></i>
                  Results
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Images</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">List</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#evaluation" data-toggle="tab">Metrics</a>
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">

                  <div class="col text-center" id='loader' style='display: none;'>
                    <img src="{% static 'dist/img/ajax-loader.gif' %}" width='120px' height='120px'>
                  </div>
                  
                  <div class="tab-content p-0">
                  <div class="tab-pane active" id="revenue-chart"
                       style="position: relative;">
                      <div id='links' class='links'>
                  </div>                     
                   </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative;">
                  <div id="showimagelist">
                  </div>                    
                  </div>  

                  <div class="chart tab-pane" id="evaluation" style="position: relative;">
                  <div id="evaluationlist">
                  </div>                    
                  </div>  
                 </div>
               
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
        </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->

    <!-- The Gallery as lightbox dialog, should be a document body child element -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <ol class="indicator"></ol>
  </div>
	

{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{% static 'retrieval/DataTables/datatables.min.js' %}"></script>

<script src="{% static 'retrieval/select2/js/select2.min.js' %}"></script>

<script type="text/javascript">


  $('#select2').select2({
        theme: "classic",
        placeholder: "Select Topic",
      });

  var obj_tags = [];

  $('#add_object').click(function(){

    obj = $('#object-tag').val();

    if(obj && !obj_tags.includes(obj))
    {
      obj_tags.push(obj);

      var t = "";
      for (var i=0; i<obj_tags.length; i++)
      {
        t += "<div class='row'> <div class='form-group'>" 
        + "<input type='text' readonly class='form-control-plaintext' value='" + obj_tags[i] + "' style='vertical-align: bottom'></div>"
        + "<button type='button' class='btn btn-danger btn-circle btn-circle-sm btn_remove_obj' ><i class='fas fa-minus'></i></button></div>";
      }
      
      $('#objects').html(t);

      $('#object-tag').val("");
    }else{
      $('#object-tag').val("");
    }
    
  });


  $(document).on('click','.btn_remove_obj',function() {
    obj = $(this).parent('div').find('input').val();

    obj_tags = obj_tags.filter(item => item !== obj);

    $(this).parent('div').remove();
    });
  

  var loc_tags = [];

  $('#add_loc').click(function(){

    obj = $('#loc-tag').val();

    if(obj && !loc_tags.includes(obj))
    {
      loc_tags.push(obj);

      var t = "";
      for (var i=0; i<loc_tags.length; i++)
      {
        t += "<div class='row'> <div class='form-group'>" 
        + "<input type='text' readonly class='form-control-plaintext' value='" + loc_tags[i] + "' style='vertical-align: bottom'></div>"
        + "<button type='button' class='btn btn-danger btn-circle btn-circle-sm btn_remove_loc' ><i class='fas fa-minus'></i></button></div>";
      }
      
      $('#loc').html(t);

      $('#loc-tag').val("");
    }else{
      $('#loc-tag').val("");
    }
    
  });


  $(document).on('click','.btn_remove_loc',function() {
    obj = $(this).parent('div').find('input').val();

    loc_tags = loc_tags.filter(item => item !== obj);

    $(this).parent('div').remove();
    });

  var act_tags = [];

  $('#add_act').click(function(){

    obj = $('#act-tag').val();

    if(obj && !act_tags.includes(obj))
    {
      act_tags.push(obj);

      var t = "";
      for (var i=0; i<act_tags.length; i++)
      {
        t += "<div class='row'> <div class='form-group'>" 
        + "<input type='text' readonly class='form-control-plaintext' value='" + act_tags[i] + "' style='vertical-align: bottom'></div>"
        + "<button type='button' class='btn btn-danger btn-circle btn-circle-sm btn_remove_act' ><i class='fas fa-minus'></i></button></div>";
      }
      
      $('#act').html(t);

      $('#act-tag').val("");
    }else{
      $('#act-tag').val("");
    }
    
  });


  $(document).on('click','.btn_remove_act',function() {
    obj = $(this).parent('div').find('input').val();

    act_tags = act_tags.filter(item => item !== obj);

    $(this).parent('div').remove();
    });

  $("#reset-button").click(function(){
     $('#objects').html("");
     $('#loc').html("");
     $('#act').html("");
     obj_tags = [];
     loc_tags = [];
     act_tags = [];
     $('#links').html("");
     $('#showimagelist').html("");
     $('#evaluationlist').html("");
     $('#showtopic').html("");
      $('#select2').val('').trigger('change');
      });

  $('#select2').on('select2:select', function () {
    topic =  JSON.parse($("#select2").val());
    var topics_html = "<p class='font-weight-bolder'>" + topic['title'] + "</p>" +  "<p class='font-weight-normal'>" + topic['desc'] + "</p>" +  "<p class='font-weight-lighter'>" + topic['nar'] + "</p>";

    $('#showtopic').html(topics_html); 

    $('#objects').html("");
     $('#loc').html("");
     $('#act').html("");
     obj_tags = [];
     loc_tags = [];
     act_tags = [];
     $('#links').html("");
     $('#showimagelist').html("");
     $('#evaluationlist').html("");


  });

  $("#submit-tags").submit(function(e){
     e.preventDefault();
     if($("#select2").val())
     {
      topic =  JSON.parse($("#select2").val());
      var topic_id = topic['id'];
       if(topic_id)
       {
          $.ajax({
                  type: 'POST',
                  url: ".",
                  data: {topic_id, obj_tags, loc_tags, act_tags, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()},
                  beforeSend: function(){$("#loader").show();},
                  success: function (data) {
                    //alert("Success");
                    images = data['queryset']

                    evaluation = data['evaluation']

                    var gallery_html = ""

                    for(var key in images)
                    {
                     
                      gallery_html += "<a href='" + images[key][0]['url']+ "' title='" + key + "'>"
                      gallery_html += "<img src='" + images[key][0]['url'] + "' alt='" + key + "' id='imgGallery'/> </a>"
                      //console.log(images[key])
                    }

                    $('#links').html(gallery_html);

                    var list_html = "<table id='dtBasicExample' class='table table-striped table-bordered table-sm' cellspacing='0' width='100%''><thead><tr>" 
                    + "<th class='th-sm'>Images</th>" 
                    + "<th class='th-sm'>URL</th>" 
                    + "<th class='th-sm'>Confidence</th>" 
                    + "</tr></thead><tbody>";

                    for(var key in images)
                    {
                      list_html += "<tr><td><a href='" + images[key][0]['url'] + "' title='" + key + "'>"
                                    + "<img style='max-width:80px; max-height:80px;' src='" + images[key][0]['url'] + "'></a></td>"
                                    + "<td><a href='" + images[key][0]['url'] + "' title='" + key + "' >" + key + "</a></td>"
                                    +  "<td><span class='size'>" + images[key][0]['conf'] + "%</span></td></tr>" ;          
                    }

                    list_html += "</tbody></table> ";
                      
                    $('#showimagelist').html(list_html);

                    $('#dtBasicExample').DataTable();
                    //$('.dataTables_length').addClass('bs-select');

                    var metrics_html = "<table class='table table-striped table-bordered table-sm' cellspacing='0' width='100%''><thead><tr>" 
                    + "<th class='th-sm'>Top</th>" 
                    + "<th class='th-sm'>Recall</th>" 
                    + "<th class='th-sm'>Precision</th>" 
                    + "<th class='th-sm'>F1 Score</th>"
                    + "</tr></thead><tbody>" 
                    + "<tr><td>5</td> <td>" + evaluation['Top5'][0]['recall'] + "</td> <td>" + evaluation['Top5'][0]['precision'] + "</td> <td>" + evaluation['Top5'][0]['f1_score'] + "</td> </tr>"
                    + "<tr><td>10</td> <td>" + evaluation['Top10'][0]['recall'] + "</td> <td>" + evaluation['Top10'][0]['precision'] + "</td> <td>" + evaluation['Top10'][0]['f1_score'] + "</td> </tr>"
                    + "<tr><td>20</td> <td>" + evaluation['Top20'][0]['recall'] + "</td> <td>" + evaluation['Top20'][0]['precision'] + "</td> <td>" + evaluation['Top20'][0]['f1_score'] + "</td> </tr>"
                    + "<tr><td>30</td> <td>" + evaluation['Top30'][0]['recall'] + "</td> <td>" + evaluation['Top30'][0]['precision'] + "</td> <td>" + evaluation['Top30'][0]['f1_score'] + "</td> </tr>"
                    + "<tr><td>40</td> <td>" + evaluation['Top40'][0]['recall'] + "</td> <td>" + evaluation['Top40'][0]['precision'] + "</td> <td>" + evaluation['Top40'][0]['f1_score'] + "</td> </tr>"
                    + "<tr><td>50</td> <td>" + evaluation['Top50'][0]['recall'] + "</td> <td>" + evaluation['Top50'][0]['precision'] + "</td> <td>" + evaluation['Top50'][0]['f1_score'] + "</td> </tr>"
                    +"</tbody></table>";



                    $('#evaluationlist').html(metrics_html);


                  },
                  complete:function(data){$("#loader").hide();}
                });
       }
     }
       
   });

</script>

<script src="{% static 'gallery/js/blueimp-gallery.min.js' %}"></script>

  <script>
      document.getElementById('links').onclick = function(event) {
        event = event || window.event
        var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = { index: link, event: event },
          links = this.getElementsByTagName('a')
        blueimp.Gallery(links, options)
      }
  </script>

{% endblock %}